{% extends 'base.html.twig' %}

{% block title %}Optime - Edit Product{% endblock %}

{% block body %}
    <div class="row">
    <div class="col"><h3>Edit Product</h3></div>
    <div class="col text-right"><a href="{{ path('category_index') }}" class="btn btn-primary">Categories</a></div>
    </div>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}" class="btn btn-primary">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
